.footer {
  margin-top: 50px;
  background-color: #212529;
}

footer {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
}

.toTopWrap {
  display: flex;
}

.backToTop {
  padding-right: 15px;
  font-size: 20px;
}

.publish {
  display: flex;
  margin: 20px 0px;
}
