@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');
.section-title h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  font-family: "Poppins";

}

.section-member {
  padding-bottom: 30px;
  font-family: "Poppins";
}